<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>265075404070-36vi5j3suhnifnuv6ut1m3pjad474tj1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265075404070-36vi5j3suhnifnuv6ut1m3pjad474tj1</string>
	<key>API_KEY</key>
	<string>AIzaSyB7Evv70qzn-Y1EDostLhlMIimTA5KfatA</string>
	<key>GCM_SENDER_ID</key>
	<string>265075404070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saifullah.firebaeRegAuth</string>
	<key>PROJECT_ID</key>
	<string>fir-reg-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-reg-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265075404070:ios:9daa7d54a1d53e1c5465e7</string>
</dict>
</plist>